* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: aliceblue;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

/* nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  width: 150px;
}
.main-nav ul li {
  padding: 10px;
}

.main-nav ul li a {
  padding: 2px;
}
.main-nav ul li a:hover {
  border-bottom: solid #2b0d0d 2px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 15px;
}

.main-menu {
  display: flex;
}

.right-menu {
  display: flex;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.home-cards img {
  width: 100%;
}

@media (max-width: 700px) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
